@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,400&display=swap");

h1 {
  text-align: center;
  margin-top: 20px;
}
form {
  position: fixed;
  top: 130px;
  right: 30%;
  left: 30%;
  border-radius: 8px;
  border: 2px solid #4242b4;
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.form-group {
  margin-bottom: 0;
}

/* .completedTodo {
  background-color: darkgray;
  text-decoration: line-through;
} */

.done,
.delete {
  transition: transform 0.05s;
}

.done:hover {
  color: green;
  transform: scale(1.5);
  cursor: pointer;
}
.delete:hover {
  color: red;
  transform: scale(1.5);
  cursor: pointer;
}

img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 30px;
  vertical-align: middle;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.heading span {
  padding: 0px 5px 5px 10px;
}

.language {
  position: fixed;
  top: 20px;
  right: 115px;
}
